body{
  background: url(../images/bg-wall.jpg) repeat-y;
  font-family: "Microsoft Yahei";
}

.u-btn{
  cursor: pointer;
}

.scroll-icon {
  position: absolute;
  top: 580px;
  left: 50%;
  height: 2em;
  width: 1.2em;
  margin-left: -0.6em;
  font-size: 22px;
  color: rgba(232,213,148,.5);
  border-radius: 2em;
  border: solid 3px;
  transition: .4s;
}

.scroll-icon:hover {
  background-color: rgba(#fff, .05);
  color: #fff;
}

.scroll-icon::after {
  position: absolute;
  display: block;
  content: '';
  left: 50%;
  top: 20px;
  width: 5px;
  height: 5px;
  margin-left: -2.5px;
  background-color: #fff;
  border-radius: 50%;
  animation: scroll-icon 2.2s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
}

@keyframes scroll-icon {
    0% { transform: translateY(-12px); opacity: 0; }
   30%, 70% { opacity: 1; }
  100% { transform: translateY(12px); opacity: 0; }
}

.m-activity{
  padding-top: 1000px;
  background: url(../images/bg-top.jpg) top center no-repeat;
}

.activity-wrap{
  width: 1235px;
  margin: 0 auto;
}

.main-title{
  width: 542px;
  height: 143px;
  margin: 0 auto;  
}

.main-title.title-1{background-image: url(../images/title-1.png);}
.main-title.title-2{background-image: url(../images/title-2.png);}
.main-title.title-3{background-image: url(../images/title-3.png);}
.main-title.title-4{background-image: url(../images/title-4.png);}
.main-title.title-5{background-image: url(../images/title-5.png);}

.m-lottery .lottery-item{
  float: left;
  width: 33.3%;
  vertical-align: middle;
}

.red {
	width: 333px;
	padding-top: 399px;
  position: relative;
}
.red>.red-wrapper {
	width: 100%;
	height: 100%;
  background-size: 100%;
  background-image: url(../images/red.png);
	background-position: center;
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	position: absolute;
}
.red>button {
	position: absolute;
	top: 103px;
	left: 50%;
	width: 138px;
  height: 138px;
  margin-left: -69px;
  background-color: transparent;
  background-image: url(../images/red-btn.png);
	background-position: center;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  color: transparent;
  cursor: pointer;
}
.red-jg {
	display: none;
	position:absolute;
	top: 40%;
	text-align: center;
	padding: 10px;
}
.red-jg>h1 {
	font-size: 20px;
	color: #ffc000;
	line-height: 40px;
}
.red-jg>h5 {
	color: #fff;
}

.m-lottery .row-1{
  width: 1176px;
  height: 511px;
  margin: 0 auto;
  background: url(../images/red-row-1.png);
}

.lottery-row-item.row-1 .wrap{
  padding: 45px 80px;
}

h6{
  color: #f9cd35;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.reward-list li{
  margin-bottom: 5px;
  color: #b3afa0;
  font-size: 14px;
}

.reward-list .item-name{
  color: #c52b28;
}

.shake-chunk{
  animation-name: shake-chunk;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;     
}

@keyframes shake-chunk {
  2% {
    transform: translate(-10px, -2px) rotate(8deg); }
  4% {
    transform: translate(5px, 12px) rotate(10deg); }
  6% {
    transform: translate(6px, 6px) rotate(0deg); }
  8% {
    transform: translate(-13px, -12px) rotate(-6deg); }
  10% {
    transform: translate(15px, 11px) rotate(15deg); }
  12% {
    transform: translate(-4px, -8px) rotate(2deg); }
  14% {
    transform: translate(0px, -11px) rotate(2deg); }
  16% {
    transform: translate(10px, 8px) rotate(9deg); }
  18% {
    transform: translate(3px, 12px) rotate(15deg); }
  20% {
    transform: translate(7px, 1px) rotate(10deg); }
  22% {
    transform: translate(10px, 15px) rotate(-13deg); }
  24% {
    transform: translate(3px, 5px) rotate(12deg); }
  26% {
    transform: translate(-5px, -11px) rotate(-11deg); }
  28% {
    transform: translate(11px, 11px) rotate(3deg); }
  30% {
    transform: translate(-3px, -1px) rotate(-6deg); }
  32% {
    transform: translate(11px, 5px) rotate(14deg); }
  34% {
    transform: translate(-11px, -7px) rotate(-2deg); }
  36% {
    transform: translate(3px, 6px) rotate(-14deg); }
  38% {
    transform: translate(10px, 11px) rotate(-5deg); }
  0%, 40%, 100% {
    transform: translate(0, 0) rotate(0); } }


.rlue-wrapper{
  padding-left: 50px;
}

.rule .txt{
  width: 270px;
  margin-bottom: 25px;
  color: #b3afa0;
  font-size: 14px;
}

.user-ctrl .u-btn{
  display: inline-block;
  width: 132px;
  height: 46px;
}

.u-btn.login{
  background-image: url(../images/btn-login.png);
}

.u-btn.record{
  background-image: url(../images/btn-record.png);
}

.lottery-row-item.row-2{
  width: 1176px;
  height: 324px;
  margin: 0 auto;
  background: url(../images/red-row-2.png);
}

.sample-list{
  text-align: center;
}

.sample-list .item{
  display: inline-block;

  vertical-align: middle;
}

/* kd-act */
.kd-act-list{

}

.kd-act-list .list-item{
  display: inline-block;
  width: 407px;
  height: 595px;
  background: url(../images/kd-panel.png);
  vertical-align: middle;
}

.kd-act-list .list-item .content{
  padding: 70px 0;
}

.kd-act-list .content{
  text-align: center;
}

.kd-act-list .content img{
  text-align: center;
}

.kd-act-list .detail{
  padding: 0 80px;
  line-height: 24px;
  font-size: 14px;
  color: #b3afa0;
}

.kd-act-list .detail b{
  color: #c52b28;
}

/* anniver-act */
.anniver-act-list .list-item{
  display: inline-block;
  width: 600px;
  height: 498px;
  margin: 0 5px;
  background: url(../images/anniver-panel.png);
  vertical-align: middle;  
}

.anniver-act-list .list-item .content{
  padding: 70px 0;
}

.anniver-act-list h6{
  margin-bottom: 50px;
}

.anniver-act-list .content{
  text-align: center;
}

.anniver-act-list .detail{
  padding: 0 80px;
  line-height: 32px;
  font-size: 14px;
  color: #b3afa0;
}

.anniver-act-list .detail b{
  color: #c52b28;
}

.anniver-act-list .u-btn{
  display: block;
  width: 343px;
  height: 109px;
  margin: 0 auto;
}

.anniver-act-list .u-btn.link{
  background-image: url(../images/btn-link-1.png);
}

.anniver-act-list .u-btn.dh-qr{
  background-image: url(../images/btn-qr.png);
}

/* vip-act */
.vip-act{
  width: 1176px;
  height: 498px;
  margin: 0 auto;
  background: url(../images/vip-panel.png);
}

.vip-act .content{
  padding-top: 140px;
}

.vip-act .detail{
  padding: 0 80px;
  margin-bottom: 30px;
  line-height: 32px;
  font-size: 14px;
  color: #b3afa0;
}

.vip-act .detail b{
  color: #c52b28;
  font-weight: 700;
  font-size: 18px;
}

.vip-act .u-btn{
  display: block;
  width: 343px;
  height: 109px;
  margin: 0 auto;
  background: url(../images/btn-vip.png);
}

/* game-act */
.game-act{
  width: 1176px;
  height: 561px;
  margin: 0 auto;
  background: url(../images/game-panel.png);
}

.game-act .content{
  float: right;  
  padding-top: 100px;
}

.game-act .detail{
  width: 400px;
  padding: 0 80px;
  margin-bottom: 30px;
  line-height: 28px;
  font-size: 14px;
  color: #b3afa0;
}

.game-act .detail b{
  color: #c52b28;
}

/*  windows ui  */
.u-window .title{
  padding-top: 60px;
  color: #f2ff28;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

.u-window.reward-toast{
  width: 899px;
  height: 602px;
  background: url(../images/ui-bg-result.png) no-repeat;
}

.reward-toast .reward-view{
  text-align: center;
}

.reward-view{
  margin-bottom: 40px;
}

.reward-view li{
  display: inline-block;
  vertical-align: middle;
}

.reward-view .item-detail{
  width: 221px;
  height: 221px;
  background: url(../images/item-container.png) no-repeat;
}

.u-window .check-box{
  position: relative;
  width: 29px;
  height: 29px;
  margin: 0 auto;
  background: url(../images/ui-box.png) no-repeat;
  cursor: pointer;
}

.check-box i{
  position: absolute;
  display: block;
  width: 29px;
  height: 26px;
  top: -5px;
  left: 5px;
}

.check-box i.on{
  animation: check-on 300ms steps(9) 1 forwards;
	background-image: url(../images/ani-crect.png);	
}

@keyframes check-on {
  0% {background-position:0px 0;}
  100% {background-position:0px -234px;}
}


.reward-view .u-btn.adress{
  width: 126px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/btn-adress.png) no-repeat;
  cursor: pointer; 
}

.u-window .notice{
  text-align: center;
  font-size: 20px;
  color: #000;
  font-weight: 700;
}

.u-window .u-btn.submit,
.u-window .adress{
  display: block;
  width: 345px;
  height: 50px;
  line-height: 50px;
  margin: 35px auto 0;
  background: #ffe828;
  font-size: 24px;
  font-weight: 700;
  color: #290000;
  text-align: center;
  border: none;
  border-radius: 8px;
  outline: none;
}

/* window adress */
.u-window.ui-adress{
  width: 589px;
  height: 602px;
  background: url(../images/ui-bg-adress.png) no-repeat;
}

.ui-adress .body{
  padding: 0 105px;
}

.ui-adress .title{
  padding: 72px 105px 0;
  margin-bottom: 10px;
  text-align: left;
}

.ui-adress .notice{
  font-size: 18px;
}

.ui-adress .adress-form{
  margin-top: 25px;
}

.adress-form .form-row{
  margin-bottom: 10px;
  padding: 0 10px;
  background: #500000;
  border-radius: 6px;
}

.adress-form input{
  display: block;
  border: none;
  width: 100%;
  height: 16px;
  padding: 8px 0;
  font-size: 14px;
  text-align: center;
  color: #a51c1c;
  background: #500000; 
  outline: none;
  text-align: left;
}

.adress-form input::-webkit-input-placeholder {color: #a51c1c;}
.adress-form input:-moz-placeholder {color: #a51c1c;}
.adress-form input::-moz-placeholder {color: #a51c1c;}
.adress-form input:-ms-input-placeholder {color: #a51c1c;}

.ui-adress .u-btn.submit{
  width: 100%;
}

.ui-record.type-1{
  width: 751px;
  height: 415px;
  background: url(../images/ui-bg-redetail.png) no-repeat;  
}

.ui-record.type-1 .title{
  margin-bottom: 30px;
}

.ui-record.type-1 .gift-item{
  width: 470px;
  height: 45px;
  line-height: 45px;
  margin: 0 auto 20px;
  background: #500000;
  text-align: center;
  color: #ffe828;
  font-size: 20px;
  font-weight: 700;
}

.ui-record.type-2{
  width: 899px;
  height: 415px;
  background: url(../images/ui-bg-record.png) no-repeat;  
}

.ui-record.type-2 .title{
  margin-bottom: 25px;
}

.ui-record.type-2 .notice{
  margin-bottom: 30px;
}

.ui-record.type-2 .gift-list{
  position: relative;
  height: 45px;
  margin: 0 115px 20px;
}

.ui-record.type-2 .gift-item{
  display: inline-block;
}

.ui-record.type-2 .item-name{
  display: inline-block;
  line-height: 45px;
  padding: 0 20px;
  background: #500000;
  text-align: center;
  color: #ffe828;
  font-size: 20px;
  font-weight: 700;
  vertical-align: middle;  
}

.ui-record.type-2 .item-name.goods{
  min-width: 395px;
  padding-left: 50px;
  text-align: left;
}

.ui-record.type-2 .check-box{
  display: inline-block;
  vertical-align: middle;
}

.ui-record.type-2 .u-btn.submit,
.ui-record.type-2 .u-btn.adress{
  float: right;
  width: 188px;
  height: 45px;
  line-height: 45px;
  margin-top: 0;
  font-size: 18px;
}